
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-textPrimary: #ffffe3;
  --color-bgPrimary: #10100e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  overflow-x: hidden;
}

.bodyWrapper {
  font-family: var(--font-switzer);
}

.noise::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .05;
  z-index: 1000;
  pointer-events: none;
  background: url('./noise.gif');
}