
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-textPrimary: #ffffe3;
  --color-bgPrimary: #10100e;
  --color-tipsyDark: #191919;
  --color-textGrey: #676767;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  overflow-x: hidden;
}

.bodyWrapper {
  font-family: var(--font-switzer);
}

.noise::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .05;
  z-index: 1000;
  pointer-events: none;
  background: url('./noise.gif');
}

.wave-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid currentColor;
  transform: scale(1);
  opacity: 0;
  pointer-events: none;
  transform-origin: center center;
  animation: wave-animation 3s infinite;
}

@keyframes wave-animation {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}